{% extends 'base.html.twig' %}

{% block title %}Cargo Form{% endblock %}

{% block body %}

    <div class="container">
        <h1>Cargo form</h1>
        <div class="row mt-5">
            <div class="col">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="btn-group" role="group" aria-label="buttons">
                    <a href="?cargo_number={{ cargoNumber + 1 }}" class="btn btn-outline-primary">Add cargo</a>
                    {% if cargoNumber > 1 %}
                        <a href="?cargo_number={{ cargoNumber -1 }}" class="btn btn-outline-danger">Remove last
                            cargo</a>
                    {% endif %}
                    <input type="submit" value="Submit" class="btn btn-outline-success"/>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}
