{% extends 'base.html.twig' %}

{% block title %}
    Transport List
{% endblock %}

{% block body %}
    <h1>Transport list</h1>
    <div class="row mt-5">
        <div class="col">
            <table class="table table-bordered table-sm">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Transport From</th>
                    <th scope="col">Transport To</th>
                    <th scope="col">Plane</th>
                    <th scope="col">Documents</th>
                    <th scope="col">Date</th>
                    <th scope="col">Cargos</th>
                </tr>
                </thead>
                <tbody>
                {% for transport in transports %}
                    <tr>
                        <th scope="row">{{ transport.id }}</th>
                        <td>{{ transport.transportFrom }}</td>
                        <td>{{ transport.transportTo }}</td>
                        <td>{{ transport.plane }}</td>
                        <td>
                            {% set documents = transport.documents|split(',') %}
                            {% for document in documents %}
                                <a href="{{ document }}"> {{ document }} </a>
                                <br>
                            {% endfor %}
                        </td>
                        <td>{{ transport.date|date('Y-m-d') }}</td>
                        <td><a href="/cargo/list?id={{ transport.id }}">View cargo
                                list</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}